<app-header></app-header>
<ion-content [fullscreen]="true">
  
  <ion-toolbar>
    <div class="ion-text-center margin-top-6" style="clear: both;">
      <ion-title>Responde a  la pregunta secreta</ion-title>

      <ion-item class="margin-bottom-6 float-left-landscape">
        
        <div>
          pregunta
        </div>
        
      </ion-item>
      <ion-item>
        <ion-input 
      label="{{ 'Quest.Placeholder.answer' | translate }}" 
      labelPlacement="floating"
      [(ngModel)]="respuesta"
      name="respuesta" 
      placeholder="{{ 'Quest.Placeholder.answer' | translate }}">
    </ion-input>
      
      </ion-item>

      <ion-button  (click)="validarRespuesta()">
        Recuperar contraseña
      </ion-button>

      
    </div>
  </ion-toolbar>

</ion-content>
