<app-header></app-header>

<ion-content >
  
 
 <ion-toolbar>
  

    <ion-item class="margin-bottom-6 float-left-landscape">
      <ion-card-subtitle>Ingresa tu correo</ion-card-subtitle>
      <ion-input 
      label="{{ 'Login.Label.Email' | translate }}" 
      labelPlacement="floating"
      [(ngModel)]="email"
      name="respuesta" 
      placeholder="Ingresa tu correo">
    </ion-input>
      
      
      

       
     
    </ion-item>

    <ion-button  (click)="validarRespuesta()">
      Recuperar contraseña
    </ion-button>

    
 
</ion-toolbar>

 </ion-content>
 
 <ion-footer>
   
 </ion-footer>
