<app-header></app-header>

<ion-content [fullscreen]="true">
  
  <ion-toolbar>
    <div class="ion-text-center margin-top-6" style="clear: both;">
      <ion-title>Ingresa tu correo</ion-title>

      <ion-item class="margin-bottom-6 float-left-landscape">
        <ion-input 
          label="{{ 'Login.Label.Email' | translate }}" 
          labelPlacement="floating"
          [(ngModel)]="email"
          name="correo" 
          placeholder="{{ 'Login.Placeholder.Email' | translate }}">
        </ion-input>
      </ion-item>

      <ion-button  (click)="respuesta()">
        Recuperar contraseña
      </ion-button>

      
    </div>
  </ion-toolbar>

</ion-content>
 <ion-footer>
   
 </ion-footer>
